bot_workspace.code-workspace
tgbot_workspace.code-workspace
token.txt
/build/
/bins/
update-tgbot-version.patch
docker-compose.yml
/common_images_python/
/common_images/
/target_images/
#/Tests/FunctionalTests/Reactor_Tests/messages.txt

