grpcio==1.70.0
grpcio-tools==1.70.0  # обычно совпадает с grpcio
grpcio-health-checking
torch==2.6.0 --index-url https://download.pytorch.org/whl/cpu
transformers==4.48.3
numpy==1.26.4
huggingface-hub==0.28.1